<h1>Part 0: ES6 Refresher</h1>
<!-- ES6 Refresher -->
<h2>ES6</h2>
<app-es6></app-es6>

<h1>Part 1: Template Fundamentals</h1>
<!--Interpolation & Expressions-->
<h2>Interpolation & Expressions</h2>
<div class="app">
  {{title + '!'}}
</div>

<div>
  {{number1}}
  {{number2}}
</div>

<div>
  {{number1 + number2}}
</div>

<div>
  {{isHappy ? ':)' : ':(' }}
</div>

<!--Property Binding-->
<h2>Property Binding</h2>
<div>
  <div>{{title}}</div>
  <div [innerHTML]="title"></div> <!--One way data binding-->
  <img [src]="logo">
  <input type="text" [value]="name">
  <div>{{name}}</div>
</div>

<!--Event Binding-->
<h2>Event Binding</h2>
<div>
  <input 
    type = "text" 
    [value]="name" 
    (input)="handleInput($event)"
    (blur)="handleBlur($event)">

  <button 
    (click) = "handleClick()">
    Change Name
  </button>
</div>

<!--Two way databinding-->
<h2>Two way databinding</h2>
<div>
  <input 
    type = "text" 
    [ngModel]="name2" 
    (ngModelChange)="handleChange($event)">
  <div>{{name2}}</div>

  <input 
    type = "text" 
    [(ngModel)]="name2">
</div>

<!--Template #ref variables-->
<h2>Template #ref variables</h2>
<div>
  <button (click) = "handleClick2(username.value)">
    Get value
  </button>
  <input type="text" #username>
</div>

<h1>Part 2: Rendering flows</h1>
<!--ngIf, * syntax and ng-template-->
<h2>ngIf, * syntax and ng-template</h2>

<!--First method-->
<input 
  type = "text" 
  [ngModel]="name3" 
  (ngModelChange)="handleChange3($event)">
<div *ngIf="name3.length > 2">
  Searching for... {{name3}}
</div>

<ng-template [ngIf]="name3.length > 3">
  <div>
    Searching for...{{name3}}
  </div>
</ng-template>

<h2>ngFor and iterating collections</h2>
<app-ng-for></app-ng-for>

<h2>ngClass and className bindings</h2>
<app-ng-classstyle></app-ng-classstyle>